<% latest_articles = Article.all.reverse[0..3] %>
  <div class="row-fluid">
    <% latest_articles.each do |article| %>
    <div class="span12" id="article_snippet">
      <div class="span2">
        <%= link_to image_tag("article"+" #{article.id}.jpg", alt: article.title), article %>
      </div>
      <div class="span9">
        <h2><%= link_to article.title, article %><small class="pull-right right">created on <%= article.created_at.strftime("%b %d, %Y") %></small></h2>
        <p><%= raw(truncate(article.content, :length => 300, :omission => (link_to "...(continued)", article))) %></p>

        <span>Categories: <%= raw article.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></span>
      </div>
    </div>
    <% end %>

    
  </div>