<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <%= link_to image_tag("feature1.jpg", alt: "Feature 1"), '#' %>
        <h3>Feature 1 Title</h3>
        <p>Feature 1 caption: In laoreet scelerisque odio fermentum sodales. Vestibulum diam dui, sodales at pulvinar venenatis, fringilla ut augue. Duis nibh sapien, ultrices id placerat et, tempor ac. <%= link_to "[Read More...]", '#' %></p>
      </div>
    </li>
  
    <li class="span4">
      <div class="thumbnail">
        <%= link_to image_tag("feature2.jpg", alt: "Feature 2"), '#' %>
        <h3>Feature 2 Title</h3>
        <p>Feature 2 caption: Nullam vel est ac erat imperdiet mattis at et orci. Duis bibendum, elit ac tempus dignissim, lacus felis sodales magna, sed tincidunt augue ipsum vitae. <%= link_to "[Read More...]", '#' %></p>
      </div>
    </li>

    <li class="span4">
      <div class="thumbnail">
        <%= link_to image_tag("feature3.jpg", alt: "Feature 3"), '#' %>
        <h3>Feature 3 Title</h3>
        <p>Feature 3 caption: In hac habitasse platea dictumst. Praesent at magna ante, eu vehicula nisi. Quisque et mauris vitae turpis sagittis porta. Donec nec eros vitae nisi molestie. <%= link_to "[Read More...]", '#' %></p>
      </div>
    </li>
  </ul>
</div>